doctype html
html
  head
    title= 'MCQ Question Management System'
    meta(name="viewport", content="minimum-scale=1.0, initial-scale=1.0, width=device-width, shrink-to-fit=no")
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/css/app.css')
  body
    div#app
    script(src='/js/app.js')